<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<!-- Всё содержимое между тегами body будет фрагментом -->
<div th:fragment="logout" sec:authorize="isAuthenticated()" class="logout-panel">
    <p>User: <span sec:authentication="name"></span></p>
    <a href="#" onclick="document.getElementById('logoutForm').submit()" class="logout-link">Sign Out</a>
    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;"></form>
</div>
</body>
</html>